/* CSS file */

global {
	modalTransparencyBlur: 0.3;
	modalTransparency: 0.2;
	modalTransparencyDuration: 5;
	color:#FFFFFF;
}

CompletionStatusView {
	borderStyle:solid;
	borderColor:#7eb7ff;
}

TextInput {
	backgroundAlpha:.4;
	backgroundColor:#7eb7ff;
}

TextArea {
	backgroundAlpha:.4;
	backgroundColor:#7eb7ff;
}

TileList {
	backgroundAlpha: 0;
	borderStyle:none;
}

List {
	backgroundAlpha: .4;
	backgroundColor:#7eb7ff;
	borderStyle:none;
}

Logo {
	borderStyle:solid;
	borderColor:#7eb7ff;
}

TabNavigator {
	backgroundAlpha: 0.4;
	backgroundColor:#7eb7ff;
	tabStyleName: "myTabs";
	borderColor:#7eb7ff;
}

.myTabs {
	backgroundAlpha: 0;
	backgroundColor:#7eb7ff;
	cornerRadius: 0;
	borderColor:#7eb7ff;
}

.mySelectedTabs {
	backgroundAlpha: 0;
	backgroundColor:#7eb7ff;
	cornerRadius: 0;
	borderColor:#7eb7ff;
}

Accordion {
	headerHeight: 17;
	headerStyleName:'accordionHeaderStyle';
	backgroundAlpha: .4;
	backgroundColor:#7eb7ff;
	borderStyle:solid;
	borderColor:#7eb7ff;
}

.accordionHeaderStyle {
	borderColor:#7eb7ff;
	fillAlphas: 1.0, 1.0;
	selectedFillColors: #2770c3, #1c57a6;
	fillColors: #2770c3, #1c57a6;
}

Application {
	
}

Panel {
	cornerRadius : 1;
}

TitleWindow {
	cornerRadius:0;
	backgroundAlpha:.5;
	backgroundColor:#1D61B6;
}

.popupTitle {
	color:red;
	fontWeight:bold;
}

Navigation {
	
}

RightSidebar {
	borderStyle : solid;
	borderColor:#7eb7ff;
}

Views {
	
}

DiagramView {
	borderStyle : solid;
	borderColor:#7eb7ff;
}

CollapsiblePanel {
	borderStyle : solid;
	borderColor:#7eb7ff;
	headerHeight: 17;
	dropShadowEnabled: false;
	headerColors: #2770c3, #1c57a6;
	backgroundAlpha: .4;
	backgroundColor:#7eb7ff;
	paddingTop: 4;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;
	openIcon: Embed(source="/assetsEmbedded/icons.swf", symbol="CollapsiblePanelOpenIcon");
	closedIcon: Embed(source="/assetsEmbedded/icons.swf", symbol="CollapsiblePanelClosedIcon");
}

ElementRenderer {
	completeFillColor : #09965F;
	completeStrokeColor : #53FE7D ;
	incompleteFillColor: #B6AB54;
	incompleteStrokeColor: #F9E686 ;
}

.audienceCharacteristic {
	fontWeight:bold;
}

.audienceList {
	alternatingItemColors : #ECF5FC,#FFFFFF
}