/* CSS file */

Application {
	backgroundColor : #FFFFFF;
}

Navigation {
	borderStyle : solid;
	borderColor : #000000;
}

Header {
	borderStyle : solid;
	borderColor : #000000;
}

Views {
	borderStyle : outset;
	borderThickness : 1;
	borderColor : #000000;
	backgroundColor : #BFD6FF;
}

Tools {
	borderStyle : outset;
	borderColor : #000000;
}

DiagramView {
	borderStyle : outset;
	borderColor : #000000;
}

CollapsiblePanel {
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	headerHeight: 20;
	dropShadowEnabled: false;
	headerColors: #d9d9d9, #ffffff;
	borderAlpha: 1;
	backgroundAlpha: 0;
	paddingTop: 4;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;
	openIcon: Embed(source="/assetsEmbedded/icons.swf", symbol="CollapsiblePanelOpenIcon");
	closedIcon: Embed(source="/assetsEmbedded/icons.swf", symbol="CollapsiblePanelClosedIcon");
}

ElementRenderer {
	completeColor : #A2FF69;
	incompleteColor: #FCEF86;
}

.audienceCharacteristic {
	fontWeight:bold;
}

.audienceList {
	alternatingItemColors : #ECF5FC,#FFFFFF
}