/* CSS file */
global {
	modalTransparencyBlur: 0.3;
	modalTransparency: 0.2;
	modalTransparencyDuration: 5;
	color:#FFFFFF;
}

ScrollBar {
	up-arrow-skin: ClassReference(null);
	down-arrow-skin: ClassReference(null);
	trackSkin: Embed(source="/assetsEmbedded/theme/ScrollBarTrack.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="7", scaleGridBottom="16");
	thumbUpSkin: Embed(source="/assetsEmbedded/theme/ScrollBarThumb_up.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbOverSkin: Embed(source="/assetsEmbedded/theme/ScrollBarThumb_over.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
	thumbDownSkin: Embed(source="/assetsEmbedded/theme/ScrollBarThumb_down.png", scaleGridLeft="1", scaleGridTop="4", scaleGridRight="5", scaleGridBottom="16");
}

RadioButton {
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
	iconColor: #7eb7ff;
	themeColor: #7eb7ff;
	borderColor:#7eb7ff;
	color:#666666;
}

ToolTip {
	backgroundColor: #7eb7ff;
	backgroundAlpha: .8;
}

HRule {
	strokeColor:#7eb7ff;
	strokeWidth:1px;
}

Button {
	textRollOverColor:#003399;
	borderColor:#7eb7ff;
	color: #1465b0;
	fontFamily : "Verdana";
	fontSize: 10px;
}
ComboBase {
	borderColor:#7eb7ff;
}
CompletionStatusLine {
	fontSize : 10;
	fontFamily : "Verdana";
	color:#ceedff;
}
TextInput {
	borderColor:#7eb7ff;
}
TextArea {
	borderColor:#7eb7ff;
}
TileList {
	backgroundAlpha: 0;
	borderStyle:none;
}

.propertiesList {
	backgroundAlpha: 0;
	borderStyle:none;
}
Logo {
	borderStyle:solid;
	borderColor:#7eb7ff;
}
TabNavigator {
	tabHeight: 20;
	tabWidth:85;
	backgroundAlpha: 0.9;
	backgroundColor:#08376C;
	borderColor:#7eb7ff;
	tabStyleName: "tabNavTabs";
	selectedTabTextStyleName : "tabNavSelectedTabs";
}
.tabNavTabs {
	fontFamily:"Times New Roman";
	fontSize:10;
	color:#bee0ff;
	borderColor:#7eb7ff;
	fontWeight:normal;
	backgroundAlpha: 0.4;
	backgroundColor:#7eb7ff;
	cornerRadius: 0;
	fillColors: #7eb7ff, #7eb7ff;
	fillAlphas: 0.2, 0.2;
}
.tabNavSelectedTabs {
	color:#ffffff;
	textRollOverColor: #ffffff;
}
Accordion {
	headerHeight: 17;
	headerStyleName:'accordionHeaderStyle';
	backgroundAlpha: .4;
	backgroundColor:#7eb7ff;
	borderStyle:solid;
	borderColor:#7eb7ff;
	themeColor:#73b7ff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}
.accordionHeaderStyle {
	fontFamily: "Times New Roman";
	fontSize:10;
	color:#ffffff;
	fontWeight:normal;
	borderStyle: solid;
	borderColor:#7eb7ff;
	fillAlphas: 1.0, 1.0;
	selectedFillColors: #2770c3, #1c57a6;
	fillColors: #2770c3, #1c57a6;
}
Panel {
	cornerRadius : 1;
	backgroundColor: #7eb7ff;
}
.popupTitle {
	color:red;
	fontWeight:bold;
}
RightSidebar {
	borderStyle : solid;
	borderColor:#7eb7ff;
}
DiagramView {
	borderStyle : solid;
	borderColor:#7eb7ff;
}
.titles {
	fontFamily: "Times New Roman";
	fontSize:10;
}
.collapsiblePanelHeader {
	fontFamily: "Times New Roman";
	fontSize:10;
	borderStyle: solid;
	borderColor:#7eb7ff;
	fillAlphas: 1.0, 1.0;
	selectedFillColors: #2770c3, #1c57a6;
	fillColors: #2770c3, #1c57a6;
}
CollapsiblePanel {
	titleStyleName: 'collapsiblePanelHeader';
	borderStyle : solid;
	borderColor:#7eb7ff;
	headerHeight: 17;
	dropShadowEnabled: false;
	headerColors: #2770c3, #1c57a6;
	backgroundAlpha: .4;
	backgroundColor:#7eb7ff;
	paddingTop: 4;
	paddingLeft: 4;
	paddingRight: 4;
	verticalGap: 4;
	openIcon: Embed(source="/assetsEmbedded/collapsiblepanel/arrow_open.png");
	closedIcon: Embed(source="/assetsEmbedded/collapsiblepanel/arrow_closed.png");
}
ElementRenderer {
	completeFillColor : #09965F;
	completeStrokeColor : #53FE7D ;
	incompleteFillColor: #B6AB54;
	incompleteStrokeColor: #F9E686 ;
	selectedBorderWidth : 2;
	deSelectedBorderWidth : 1;
}

.toolButtonPointer {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_pointer_tool_hover.png");
}
.toolButtonHand {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_hand_tool_hover.png");
}
.toolButtonMove {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_move_tool_hover.png");
}
.toolButtonCopy {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_copy_tool_hover.png");
}
.toolButtonTracePath {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool_hover.png");
	disabledSkin:Embed("/assetsEmbedded/tools/icon_30x30_trace_path_tool.png");
}
.toolButtonSelectMultiple {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_select_multiple_tool_hover.png");
}
.toolButtonMagicWand {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_magic_wand_tool_hover.png");
}
.toolButtonShowPath {
	upSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool.png");
	overSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool_hover.png");
	downSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool_hover.png");
	disabledSkin:Embed("/assetsEmbedded/tools/icon_30x30_show_path_tool.png");
}

.layoutButtonHorizontal {
	upSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal.png");
	overSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal_hover.png");
	downSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal_hover.png");
	disabledSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_horizontal.png");
}

.layoutButtonVertical {
	upSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical.png");
	overSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical_hover.png");
	downSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical_hover.png");
	selectedOverSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical_hover.png");
	selectedUpSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical_hover.png");
	selectedDownSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical_hover.png");
	disabledSkin:Embed("/assetsEmbedded/layout/icon_30x30_layout_vertical.png");
}

.swimLaneTitle {
	textAlign:center;
	fontFamily: "Times New Roman";
	fontSize:10;
	color:#7eb7ff;
}

ViewButton {
	fontFamily: "Verdana";
	fontSize:9;
	fontWeight:normal;
	color:#bee0ff;
	textSelectedColor:#FFFFFF;
	textRollOverColor:#FFFFFF;
	cornerRadius: 0;
}
/** need to create a custom skin for LinkButton**/
.diagramViewButton {
	upIcon:Embed('/assetsEmbedded/nav/icon_nav_diagram_active.png');
	overIcon:Embed('/assetsEmbedded/nav/icon_nav_diagram_active.png');
	downIcon:Embed('/assetsEmbedded/nav/icon_nav_diagram_active.png');
	color:#ffffff;
}.tableViewButton {
	upIcon:Embed('/assetsEmbedded/nav/icon_nav_table.png');
	overIcon:Embed('/assetsEmbedded/nav/icon_nav_table_active.png');
	downIcon:Embed('/assetsEmbedded/nav/icon_nav_table_active.png');
}.imagesViewButton {
	upIcon:Embed('/assetsEmbedded/nav/icon_nav_images.png');
	overIcon:Embed('/assetsEmbedded/nav/icon_nav_images_active.png');
	downIcon:Embed('/assetsEmbedded/nav/icon_nav_images_active.png');
}.summaryViewButton {
	upIcon:Embed('/assetsEmbedded/nav/icon_nav_summary.png');
	overIcon:Embed('/assetsEmbedded/nav/icon_nav_summary_active.png');
	downIcon:Embed('/assetsEmbedded/nav/icon_nav_summary_active.png');
}

SaveableDialog {
	closeButtonUpSkin:Embed(source="/assetsEmbedded/buttons/button_close_up.png");
	closeButtonOverSkin:Embed(source="/assetsEmbedded/buttons/button_close_up.png");
	closeButtonDownSkin:Embed(source="/assetsEmbedded/buttons/button_close_down.png");
	titleStyleName: "elementEditorBaseTitleStyle";
	headerHeight:25;
	headerColors:#2770c3,#1c57a6;
	cornerRadius:0;
	backgroundAlpha: 1;
	backgroundColor: #ffffff;
	borderColor : #ffffff;
	borderAlpha : 1;
	color: #666666;
	fontFamily: "Times New Roman";
	fontSize:11px;
	verticalGap: 10;
	paddingTop: 10;
}

.elementEditorBaseTitleStyle {
	fontFamily: "Times New Roman";
	fontSize:13px;
	color: #ffffff;
}

.sectionHeader {
	fontSize: 13px;
	fontFamily: "Verdana";
	fontWeight: bold;
	color: #528dc4;
}

Form {
	paddingTop:0;
	paddingBottom:10;
}

Tree {
	backgroundColor: #ffffff;
}

HSlider {
	tickOffset: -1;
	thumbOffset: 3;
	color: #7eb7ff;
	tickColor: #7eb7ff;
	borderColor: #7eb7ff;
	trackColors: #7eb7ff, #7eb7ff;
	themeColor: #7eb7ff;
	fillAlphas: 0, 0, 0, 0;
	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
	labelStyleName: "myhSliderLabelStyle";
}

.myhSliderLabelStyle {
	color: #7eb7ff;
}

CheckBox {
	highlightAlphas: 0, 0;
	fillAlphas: 0, 0, 0, 0;
	borderColor: #7eb7ff;
	iconColor: #000000;
	color: #666666;
	textSelectedColor: #666666;
	textRollOverColor: #333333;
	themeColor: #7eb7ff;
}